<footer class="text-center txt-lg-start text-dark bg-body-secondary my-5">
    <section class="d-flex justify-content-between p-4 text-white is-beta-blue">
        <!-- Left start -->
        <div class="me-5">
            <span>Finn oss her:</span>
        </div>
        <!-- Left end -->

        <!-- Right start -->
        <div class="social">
            <a href="#" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fa-brands fa-discord"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right end -->
    </section>

    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Beta UiA</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr" />

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora at natus vitae vel
                        recusandae fugit aspernatur alias tempore autem. Dolor ab necessitatibus minima magnam?
                        Similique quam nostrum eaque cum repellendus.</p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Lenker</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr" />
                    <p>
                        <a href="/game-jam-entries" class="text-dark">Spillarkiv</a>
                    </p>
                    <p>
                        <a href="/arrangementer" class="text-dark">Kalender</a>
                    </p>
                    <p>
                        <a href="/comedycentral" class="text-dark">Comedy Central</a>
                    </p>
                    <p>
                        <a href="/wiki" class="text-dark">Wiki</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Kontakt</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr" />
                    <p><i class="fas fa-home mr-3"></i> Jon Lilletunsvei 23</p>
                    <p><i class="fas fa-envelope mr-3"></i> beta@uia.no</p>
                    <p><i class="fas fa-phone mr-3"></i> Tlf</p>
                    <p><i class="fas fa-globe mr-3"></i> Org. nr: 913 777 417</p>
                </div>
            </div>
        </div>
    </section>
</footer>