<!-- <footer>
    <div class="social">
        <ul>
            <li>Calendar</li>
            <li>Discord</li>
            <li>Github</li>
            <li>Osv.</li>
        </ul>
    </div>

    <div class="titles">
        <div class="div">For Studenter</div>
        <div class="div">Engasjer Deg</div>
        <div class="div">For Bedrifter</div>
    </div>

</footer> -->

<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; Copyright @ Beta</p>
    </div>

    <div class="columns">
        <div class="column">
            <!-- Left aligned -->
            <img src="{{url_for('static', filename='img/smallbeta.png')}}" alt="Beta footer logo">
            <h4 class="bd-footer-little has-text-weight-medium has-text-left">
                <strong>Beta</strong>
            </h4>

            <p class="bd-footer-link has-text-left">
                Org. nr: 970 546 200
            </p>
            <p><a
                    href="https://www.google.com/maps/place/Universitetet+i+Agder/@58.3340987,8.5764219,17.29z/data=!4m6!3m5!1s0x4647ee428a0fc789:0x9b4aa7f9665e790e!8m2!3d58.3341667!4d8.5771454!16s%2Fg%2F11h6505h7l?entry=ttu">Jon
                    Lilletuns vei 9, 4879 Grimstad</a></p>
        </div>

        <!-- Column 2 - Explore -->
        <div class="column">
            <h4 class="bd-footer-title  
                 has-text-weight-medium  
                 has-text-justify">
                Utforsk
            </h4>

            <p class="bd-footer-link">
                <a href="/arrangementer">
                    <span class="icon-text">
                        <span>Arrangementer</span>
                    </span>
                </a>
                <br />
                <a href="/game-jam-entries">
                    <span class="icon-text">
                        <span>Spillarkiv</span>
                    </span>
                </a>
                <br />
                <a href="/karriere">
                    <span class="icon-text">
                        <span>Karriere</span>
                    </span>
                </a>
            </p>
        </div>
    </div>
</footer>