<!-- <header>
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a href="#" class="navbar-item is-tab">
          Hjem
        </a>

        <a href="#" class="navbar-item is-tab">
          Arrangementer
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link">Interessegrupper</a>
          <div class="navbar-dropdown is-hidden-mobile is-boxed">
            <a href="/game-jam-entries" class="navbar-item">Utvikling</a>
            <a href="#" class="navbar-item">Sikkerhet</a>
            <a href="#" class="navbar-item">Bedriftskontakt</a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a id="modeToggle" class="bd-tw-button button">
            <span class="icon">
              <i class="fas fa-sun"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header> -->




<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm sticky-top">
  <div class="container">
    <div class="d-flex align-items-center">
      <button class="btn btn-primary me-2" type="button" id="dropdownMenuButtonLight" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-gear"></i>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Store</a>
        </li>
      </ul>
    </div>
  </div>
</nav>