:root {

    /* Primary */
    --primary-50: #EDFBFF;
    --primary-100: #D6F4FF;
    --primary-200: #B5EDFF;
    --primary-300: #83E4FF;
    --primary-400: #48D2FF;
    /* Main */
    --primary-500: #1EB5FF;
    --primary-600: #0699FF;
    --primary-700: #0085FF;
    --primary-800: #0865C5;
    --primary-900: #0D579B;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin-top: 40px;
}

body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
}

.social a {
    text-decoration: none;
}

.social i {
    transition: color 0.3s ease;
}

.social i:hover {
    color: var(--primary-200);
}

.logo {
    max-height: 10vh;
    max-width: 10vw;
}

.nav-logo {
    height: 40px;
    width: 40px;
}

.card-img-top {
    width: 100%;
    /* Ensures the image is responsive and fits the card */
    height: auto;
    /* Maintains the aspect ratio */
    object-fit: cover;
    /* Covers the area without distorting the image */
    max-height: 200px;
    /* Optional: limits the image height */
}

.card {
    margin: 15px;
    /* Adds space between cards */
}

.footer-hr {
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
}

#footer {
    flex-shrink: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}

.hover-shadow>* {
    transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow> :hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 6px 20px rgba(0, 0, 0, 0.19);
}


/* This box class is purely used for explaining how the bootstrap grid system works. */
.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

.is-beta-black {
    color: #121212;
}

.is-beta-white {
    color: white;
}

.is-beta-blue {
    background-color: var(--primary-700);
}

.is-uia-red {
    color: #C8102E;
}

@media (min-width: 576px) {
    body::before {
        content: "SM";
        z-index: 10000;
    }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
        z-index: 10000;
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
        z-index: 10000;
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
        z-index: 10000;
    }
}

@media (min-width: 1400px) {
    body::before {
        content: "XXL";
        z-index: 10000;
    }
}