{% extends "components/base.html" %}

{% block title %}TITTEL{% endblock %}

{% block content %}
<section class="section is-large is-mobile">
  <div class="columns is-10">
    <div class="column has-text-centered">
      <img src="{{url_for('static', filename='img/smallbeta.png')}}" class="is-128x128 logo" alt="Beta logo">
      <h2 class="subtitle is-2 is-beta-blue header-title">Linjeforeningen for Dataingeniør & KI</h2>
      <div class="has-text-centered header-text">
        <p class="has-text-weight-medium">Beta er linjeforeningen for studentene på <a class="is-link"
            href="https://www.uia.no/studier/data-ingenioerfag" target="_blank">Dataingeniør</a> og <a class="is-link"
            href="https://www.uia.no/studier/kunstig-intelligens-sivilingenioer" target="_blank">Kunstig
            intelligens</a> ved Universitetet i Agder.</p>
        <p class="has-text-weight-medium">Vi arrangerer faglige og sosiale arrangementer for studenter.</p>
      </div>
    </div>
  </div>

</section>
<div>{{ content|safe }}</div>
{% endblock %}