{% extends "components/base.html" %}

{% block title %}TITTEL{% endblock %}

{% block content %}
<section class="section is-large">
    <div class="has-text-centered ">

        <img src="{{url_for('static', filename='img/smallbeta.png')}}" class="is-96x96" alt="">
        <h2 class="subtitle is-2 is-beta-blue header-title">Linjeforeningen for Dataingeniør & KI</h2>
    </div>
    <div class="content has-text-centered has-text-weight-light header-text">
        <p class="has-text-weight-medium">Beta er linjeforeningen for studentene på <a class="is-link"
                href="#">Dataingeniør</a> og <a class="is-link" href="#">Kunstig
                intelligens</a> ved Universitetet i Agder.</p>
        <p class="has-text-weight-medium">Vi arrangerer faglige og sosiale arrangementer for studenter.</p>

    </div>
</section>
<div>{{ content|safe }}</div>
{% endblock %}